---
swagger: "2.0"
info:
  version: "5.3.2"
  title: "码云 Open API"
host: "gitee.com"
basePath: "/api"
tags:
- name: "Repositories"
  description: "Operations about Repositories"
- name: "Git Data"
  description: "Operations about Git Data"
- name: "Issues"
  description: "Operations about Issues"
- name: "Labels"
  description: "Operations about Labels"
- name: "Milestones"
  description: "Operations about Milestones"
- name: "Miscellaneous"
  description: "Operations about Miscellaneous"
- name: "Pull Requests"
  description: "Operations about Pull Requests"
- name: "Webhooks"
  description: "Operations about Webhooks"
- name: "Activity"
  description: "Operations about Activities"
- name: "Users"
  description: "Operations about Users"
- name: "Organizations"
  description: "Operations about Organizations"
- name: "Enterprises"
  description: "Operations about Enterprises"
- name: "Gists"
  description: "Operations about Gists"
- name: "Search"
  description: "Operations about Searches"
produces:
- "application/json"
- "text/plain"
paths:
  /v5/repos/{owner}/{repo}/branches:
    get:
      tags:
      - "Repositories"
      summary: "获取所有分支"
      description: "获取所有分支"
      operationId: "getV5ReposOwnerRepoBranches"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      responses:
        200:
          description: "返回格式"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Branch"
    post:
      tags:
      - "Repositories"
      summary: "创建分支"
      description: "创建分支"
      operationId: "postV5ReposOwnerRepoBranches"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "body"
        description: "新建分支内容"
        required: true
        schema:
          $ref: "#/definitions/CreateBranchParam"
        x-exportParamName: "Body"
      responses:
        201:
          description: "返回格式"
          schema:
            $ref: "#/definitions/CompleteBranch"
  /v5/repos/{owner}/{repo}/branches/{branch}:
    get:
      tags:
      - "Repositories"
      summary: "获取单个分支"
      description: "获取单个分支"
      operationId: "getV5ReposOwnerRepoBranchesBranch"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "branch"
        in: "path"
        description: "分支名称"
        required: true
        type: "string"
        x-exportParamName: "Branch"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Branch"
  /v5/repos/{owner}/{repo}/branches/{branch}/protection:
    put:
      tags:
      - "Repositories"
      summary: "设置分支保护"
      description: "设置分支保护"
      operationId: "putV5ReposOwnerRepoBranchesBranchProtection"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "branch"
        in: "path"
        description: "分支名称"
        required: true
        type: "string"
        x-exportParamName: "Branch"
      - in: "body"
        name: "body"
        description: "设置分支保护参数"
        required: true
        schema:
          $ref: "#/definitions/BranchProtectionPutParam"
        x-exportParamName: "Body"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/CompleteBranch"
    delete:
      tags:
      - "Repositories"
      summary: "取消保护分支的设置"
      description: "取消保护分支的设置"
      operationId: "deleteV5ReposOwnerRepoBranchesBranchProtection"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "branch"
        in: "path"
        description: "分支名称"
        required: true
        type: "string"
        x-exportParamName: "Branch"
      responses:
        204:
          description: "取消保护分支的设置"
  /v5/repos/{owner}/{repo}/commits:
    get:
      tags:
      - "Repositories"
      summary: "仓库的所有提交"
      description: "仓库的所有提交"
      operationId: "getV5ReposOwnerRepoCommits"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "sha"
        in: "query"
        description: "提交起始的SHA值或者分支名. 默认: 仓库的默认分支"
        required: false
        type: "string"
        x-exportParamName: "Sha"
        x-optionalDataType: "String"
      - name: "path"
        in: "query"
        description: "包含该文件的提交"
        required: false
        type: "string"
        x-exportParamName: "Path"
        x-optionalDataType: "String"
      - name: "author"
        in: "query"
        description: "提交作者的邮箱或个人空间地址(username/login)"
        required: false
        type: "string"
        x-exportParamName: "Author"
        x-optionalDataType: "String"
      - name: "since"
        in: "query"
        description: "提交的起始时间，时间格式为 ISO 8601"
        required: false
        type: "string"
        x-exportParamName: "Since"
        x-optionalDataType: "String"
      - name: "until"
        in: "query"
        description: "提交的最后时间，时间格式为 ISO 8601"
        required: false
        type: "string"
        x-exportParamName: "Until"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "当前的页码"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "每页的数量，最大为 100"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "返回格式"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/RepoCommit"
  /v5/repos/{owner}/{repo}/commits/{sha}:
    get:
      tags:
      - "Repositories"
      summary: "仓库的某个提交"
      description: "仓库的某个提交"
      operationId: "getV5ReposOwnerRepoCommitsSha"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "sha"
        in: "path"
        description: "提交的SHA值或者分支名"
        required: true
        type: "string"
        x-exportParamName: "Sha"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/RepoCommit"
  /v5/repos/{owner}/{repo}/compare/{base}...{head}:
    get:
      tags:
      - "Repositories"
      summary: "两个Commits之间对比的版本差异"
      description: "两个Commits之间对比的版本差异"
      operationId: "getV5ReposOwnerRepoCompareBase...Head"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "base"
        in: "path"
        description: "Commit提交的SHA值或者分支名作为对比起点"
        required: true
        type: "string"
        x-exportParamName: "Base"
      - name: "head"
        in: "path"
        description: "Commit提交的SHA值或者分支名作为对比终点"
        required: true
        type: "string"
        x-exportParamName: "Head"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Compare"
  /v5/repos/{owner}/{repo}/keys:
    get:
      tags:
      - "Repositories"
      summary: "获取仓库已部署的公钥"
      description: "获取仓库已部署的公钥"
      operationId: "getV5ReposOwnerRepoKeys"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "page"
        in: "query"
        description: "当前的页码"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "每页的数量，最大为 100"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "返回格式"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SSHKey"
    post:
      tags:
      - "Repositories"
      summary: "为仓库添加公钥"
      description: "为仓库添加公钥"
      operationId: "postV5ReposOwnerRepoKeys"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "formData"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "key"
        in: "formData"
        description: "公钥内容"
        required: true
        type: "string"
        x-exportParamName: "Key"
      - name: "title"
        in: "formData"
        description: "公钥名称"
        required: true
        type: "string"
        x-exportParamName: "Title"
      responses:
        201:
          description: "返回格式"
          schema:
            $ref: "#/definitions/SSHKey"
  /v5/repos/{owner}/{repo}/keys/available:
    get:
      tags:
      - "Repositories"
      summary: "获取仓库可部署的公钥"
      description: "获取仓库可部署的公钥"
      operationId: "getV5ReposOwnerRepoKeysAvailable"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "page"
        in: "query"
        description: "当前的页码"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "每页的数量，最大为 100"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "返回格式"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SSHKeyBasic"
  /v5/repos/{owner}/{repo}/keys/enable/{id}:
    put:
      tags:
      - "Repositories"
      summary: "启用仓库公钥"
      description: "启用仓库公钥"
      operationId: "putV5ReposOwnerRepoKeysEnableId"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "formData"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "id"
        in: "path"
        description: "公钥 ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        204:
          description: "已启用"
        403:
          description: "没有启用权限"
    delete:
      tags:
      - "Repositories"
      summary: "停用仓库公钥"
      description: "停用仓库公钥"
      operationId: "deleteV5ReposOwnerRepoKeysEnableId"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "id"
        in: "path"
        description: "公钥 ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        204:
          description: "已停用"
        404:
          description: "没有相关公钥"
  /v5/repos/{owner}/{repo}/keys/{id}:
    get:
      tags:
      - "Repositories"
      summary: "获取仓库的单个公钥"
      description: "获取仓库的单个公钥"
      operationId: "getV5ReposOwnerRepoKeysId"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "id"
        in: "path"
        description: "公钥 ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/SSHKey"
    delete:
      tags:
      - "Repositories"
      summary: "删除一个仓库公钥"
      description: "删除一个仓库公钥"
      operationId: "deleteV5ReposOwnerRepoKeysId"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "id"
        in: "path"
        description: "公钥 ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        204:
          description: "删除一个仓库公钥"
  /v5/repos/{owner}/{repo}/readme:
    get:
      tags:
      - "Repositories"
      summary: "获取仓库README"
      description: "获取仓库README"
      operationId: "getV5ReposOwnerRepoReadme"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "ref"
        in: "query"
        description: "分支、tag或commit。默认: 仓库的默认分支(通常是master)"
        required: false
        type: "string"
        x-exportParamName: "Ref"
        x-optionalDataType: "String"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Content"
  /v5/repos/{owner}/{repo}/contents/{path}:
    get:
      tags:
      - "Repositories"
      summary: "获取仓库具体路径下的内容"
      description: "获取仓库具体路径下的内容"
      operationId: "getV5ReposOwnerRepoContents(Path)"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "path"
        in: "path"
        description: "文件的路径"
        required: true
        type: "string"
        x-exportParamName: "Path"
      - name: "ref"
        in: "query"
        description: "分支、tag或commit。默认: 仓库的默认分支(通常是master)"
        required: false
        type: "string"
        x-exportParamName: "Ref"
        x-optionalDataType: "String"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Content"
    post:
      tags:
      - "Repositories"
      summary: "新建文件"
      description: "新建文件"
      operationId: "postV5ReposOwnerRepoContentsPath"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "path"
        in: "path"
        description: "文件的路径"
        required: true
        type: "string"
        x-exportParamName: "Path"
      - name: "body"
        in: "body"
        description: "描述文件信息"
        required: true
        schema:
          $ref: "#/definitions/NewFileParam"
        x-exportParamName: "Body"
      responses:
        201:
          description: "返回格式"
          schema:
            $ref: "#/definitions/CommitContent"
    put:
      tags:
      - "Repositories"
      summary: "更新文件"
      description: "更新文件"
      operationId: "putV5ReposOwnerRepoContentsPath"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "formData"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "path"
        in: "path"
        description: "文件的路径"
        required: true
        type: "string"
        x-exportParamName: "Path"
      - name: "content"
        in: "formData"
        description: "文件内容, 要用 base64 编码"
        required: true
        type: "string"
        x-exportParamName: "Content"
      - name: "sha"
        in: "formData"
        description: "文件的 Blob SHA，可通过 [获取仓库具体路径下的内容] API 获取"
        required: true
        type: "string"
        x-exportParamName: "Sha"
      - name: "message"
        in: "formData"
        description: "提交信息"
        required: true
        type: "string"
        x-exportParamName: "Message"
      - name: "branch"
        in: "formData"
        description: "分支名称。默认为仓库对默认分支"
        required: false
        type: "string"
        x-exportParamName: "Branch"
        x-optionalDataType: "String"
      - name: "committer[name]"
        in: "formData"
        description: "Committer的名字，默认为当前用户的名字"
        required: false
        type: "string"
        x-exportParamName: "CommitterName"
        x-optionalDataType: "String"
      - name: "committer[email]"
        in: "formData"
        description: "Committer的邮箱，默认为当前用户的邮箱"
        required: false
        type: "string"
        x-exportParamName: "CommitterEmail"
        x-optionalDataType: "String"
      - name: "author[name]"
        in: "formData"
        description: "Author的名字，默认为当前用户的名字"
        required: false
        type: "string"
        x-exportParamName: "AuthorName"
        x-optionalDataType: "String"
      - name: "author[email]"
        in: "formData"
        description: "Author的邮箱，默认为当前用户的邮箱"
        required: false
        type: "string"
        x-exportParamName: "AuthorEmail"
        x-optionalDataType: "String"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/CommitContent"
    delete:
      tags:
      - "Repositories"
      summary: "删除文件"
      description: "删除文件"
      operationId: "deleteV5ReposOwnerRepoContentsPath"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "path"
        in: "path"
        description: "文件的路径"
        required: true
        type: "string"
        x-exportParamName: "Path"
      - name: "sha"
        in: "query"
        description: "文件的 Blob SHA，可通过 [获取仓库具体路径下的内容] API 获取"
        required: true
        type: "string"
        x-exportParamName: "Sha"
      - name: "message"
        in: "query"
        description: "提交信息"
        required: true
        type: "string"
        x-exportParamName: "Message"
      - name: "branch"
        in: "query"
        description: "分支名称。默认为仓库对默认分支"
        required: false
        type: "string"
        x-exportParamName: "Branch"
        x-optionalDataType: "String"
      - name: "committer[name]"
        in: "query"
        description: "Committer的名字，默认为当前用户的名字"
        required: false
        type: "string"
        x-exportParamName: "CommitterName"
        x-optionalDataType: "String"
      - name: "committer[email]"
        in: "query"
        description: "Committer的邮箱，默认为当前用户的邮箱"
        required: false
        type: "string"
        x-exportParamName: "CommitterEmail"
        x-optionalDataType: "String"
      - name: "author[name]"
        in: "query"
        description: "Author的名字，默认为当前用户的名字"
        required: false
        type: "string"
        x-exportParamName: "AuthorName"
        x-optionalDataType: "String"
      - name: "author[email]"
        in: "query"
        description: "Author的邮箱，默认为当前用户的邮箱"
        required: false
        type: "string"
        x-exportParamName: "AuthorEmail"
        x-optionalDataType: "String"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/CommitContent"
  /v5/repos/{owner}/{repo}/git/blobs/{sha}:
    get:
      tags:
      - "Git Data"
      summary: "获取文件Blob"
      description: "获取文件Blob"
      operationId: "getV5ReposOwnerRepoGitBlobsSha"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "sha"
        in: "path"
        description: "文件的 Blob SHA，可通过 [获取仓库具体路径下的内容] API 获取"
        required: true
        type: "string"
        x-exportParamName: "Sha"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Blob"
        404:
          description: "没有相关数据"
  /v5/repos/{owner}/{repo}/git/trees/{sha}:
    get:
      tags:
      - "Git Data"
      summary: "获取目录Tree"
      description: "获取目录Tree"
      operationId: "getV5ReposOwnerRepoGitTreesSha"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "sha"
        in: "path"
        description: "可以是分支名(如master)、Commit或者目录Tree的SHA值"
        required: true
        type: "string"
        x-exportParamName: "Sha"
      - name: "recursive"
        in: "query"
        description: "赋值为1递归获取目录"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Recursive"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Tree"
        404:
          description: "没有相关数据"
        422:
          description: "SHA值必须为Commit或Tree的"
  /v5/repos/{owner}/{repo}/issues:
    get:
      tags:
      - "Issues"
      summary: "仓库的所有Issues"
      description: "仓库的所有Issues"
      operationId: "getV5ReposOwnerRepoIssues"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "state"
        in: "query"
        description: "Issue的状态: open（开启的）, progressing(进行中), closed（关闭的）, rejected（\
          拒绝的）。 默认: open"
        required: false
        type: "string"
        default: "open"
        enum:
        - "open"
        - "progressing"
        - "closed"
        - "rejected"
        - "all"
        x-exportParamName: "State"
        x-optionalDataType: "String"
      - name: "labels"
        in: "query"
        description: "用逗号分开的标签。如: bug,performance"
        required: false
        type: "string"
        x-exportParamName: "Labels"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "排序依据: 创建时间(created)，更新时间(updated_at)。默认: created_at"
        required: false
        type: "string"
        default: "created"
        enum:
        - "created"
        - "updated"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "direction"
        in: "query"
        description: "排序方式: 升序(asc)，降序(desc)。默认: desc"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Direction"
        x-optionalDataType: "String"
      - name: "since"
        in: "query"
        description: "起始的更新时间，要求时间格式为 ISO 8601"
        required: false
        type: "string"
        x-exportParamName: "Since"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "当前的页码"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "每页的数量，最大为 100"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      - name: "schedule"
        in: "query"
        description: "计划开始日期，格式：20181006T173008+80-20181007T173008+80（区间），或者 -20181007T173008+80（\
          小于20181007T173008+80），或者 20181006T173008+80-（大于20181006T173008+80），要求时间格\
          式为20181006T173008+80"
        required: false
        type: "string"
        x-exportParamName: "Schedule"
        x-optionalDataType: "String"
      - name: "deadline"
        in: "query"
        description: "计划截止日期，格式同上"
        required: false
        type: "string"
        x-exportParamName: "Deadline"
        x-optionalDataType: "String"
      - name: "created_at"
        in: "query"
        description: "任务创建时间，格式同上"
        required: false
        type: "string"
        x-exportParamName: "CreatedAt"
        x-optionalDataType: "String"
      - name: "finished_at"
        in: "query"
        description: "任务完成时间，即任务最后一次转为已完成状态的时间点。格式同上"
        required: false
        type: "string"
        x-exportParamName: "FinishedAt"
        x-optionalDataType: "String"
      - name: "milestone"
        in: "query"
        description: "根据里程碑标题。none为没里程碑的，*为所有带里程碑的"
        required: false
        type: "string"
        x-exportParamName: "Milestone"
        x-optionalDataType: "String"
      - name: "assignee"
        in: "query"
        description: "用户的username。 none为没指派者, *为所有带有指派者的"
        required: false
        type: "string"
        x-exportParamName: "Assignee"
        x-optionalDataType: "String"
      - name: "creator"
        in: "query"
        description: "创建Issues的用户username"
        required: false
        type: "string"
        x-exportParamName: "Creator"
        x-optionalDataType: "String"
      - name: "program"
        in: "query"
        description: "所属项目名称。none为没有所属项目，*为所有带所属项目的"
        required: false
        type: "string"
        x-exportParamName: "Program"
        x-optionalDataType: "String"
      responses:
        200:
          description: "返回格式"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Issue"
  /v5/repos/{owner}/{repo}/issues/{number}:
    get:
      tags:
      - "Issues"
      summary: "仓库的某个Issue"
      description: "仓库的某个Issue"
      operationId: "getV5ReposOwnerRepoIssuesNumber"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "number"
        in: "path"
        description: "Issue 编号(区分大小写，无需添加 # 号)"
        required: true
        type: "string"
        x-exportParamName: "Number"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Issue"
  /v5/repos/{owner}/issues:
    post:
      tags:
      - "Issues"
      summary: "创建Issue"
      description: "创建Issue"
      operationId: "postV5ReposOwnerIssues"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - in: "body"
        name: "body"
        description: "可选。Issue 内容"
        required: true
        schema:
          $ref: "#/definitions/IssueCreateParam"
        x-exportParamName: "Body"
      responses:
        201:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Issue"
  /v5/repos/{owner}/issues/{number}:
    patch:
      tags:
      - "Issues"
      summary: "更新Issue"
      description: "更新Issue"
      operationId: "patchV5ReposOwnerIssuesNumber"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "number"
        in: "path"
        description: "Issue 编号(区分大小写，无需添加 # 号)"
        required: true
        type: "string"
        x-exportParamName: "Number"
      - in: "body"
        name: "body"
        description: "可选。Issue 内容"
        required: true
        schema:
          $ref: "#/definitions/IssueUpdateParam"
        x-exportParamName: "Body"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Issue"
  /v5/repos/{owner}/issues/{number}/operate_logs:
    get:
      tags:
      - "Issues"
      summary: "获取某个Issue下的操作日志"
      description: "获取某个Issue下的操作日志"
      operationId: "getV5ReposOwnerIssuesNumberOperateLogs"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "query"
        description: "仓库路径(path)"
        required: false
        type: "string"
        x-exportParamName: "Repo"
        x-optionalDataType: "String"
      - name: "number"
        in: "path"
        description: "Issue 编号(区分大小写，无需添加 # 号)"
        required: true
        type: "string"
        x-exportParamName: "Number"
      - name: "sort"
        in: "query"
        description: "按递增(asc)或递减(desc)排序，默认：递减"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "desc"
        - "asc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      responses:
        200:
          description: "返回格式"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/OperateLog"
  /v5/repos/{owner}/{repo}/project_labels:
    post:
      tags:
      - "Labels"
      summary: "添加仓库标签"
      description: "添加仓库标签"
      operationId: "postV5ReposOwnerRepoProjectLabels"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "body"
        description: "必选，标签的内容"
        required: true
        schema:
          $ref: "#/definitions/PullRequestLabelPostParam"
        x-exportParamName: "Body"
      responses:
        201:
          description: "返回格式"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ProjectLabel"
    put:
      tags:
      - "Labels"
      summary: "替换所有仓库标签"
      description: "替换所有仓库标签\n 需要在请求的body里填上数组，元素为标签的名字。如: [\"feat\", \"\
        bug\"]"
      operationId: "putV5ReposOwnerRepoProjectLabels"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "body"
        description: "必选，标签的内容"
        required: true
        schema:
          $ref: "#/definitions/PullRequestLabelPostParam"
        x-exportParamName: "Body"
      responses:
        200:
          description: "返回格式"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ProjectLabel"
  /v5/repos/{owner}/{repo}/labels:
    get:
      tags:
      - "Labels"
      summary: "获取仓库所有任务标签"
      description: "获取仓库所有任务标签"
      operationId: "getV5ReposOwnerRepoLabels"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      responses:
        200:
          description: "返回格式"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Label"
    post:
      tags:
      - "Labels"
      summary: "创建仓库任务标签"
      description: "创建仓库任务标签"
      operationId: "postV5ReposOwnerRepoLabels"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "body"
        description: "必选，标签的内容"
        required: true
        schema:
          $ref: "#/definitions/LabelPostParam"
        x-exportParamName: "Body"
      responses:
        201:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Label"
  /v5/repos/{owner}/{repo}/labels/{name}:
    get:
      tags:
      - "Labels"
      summary: "根据标签名称获取单个标签"
      description: "根据标签名称获取单个标签"
      operationId: "getV5ReposOwnerRepoLabelsName"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "name"
        in: "path"
        description: "标签名称"
        required: true
        type: "string"
        x-exportParamName: "Name"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Label"
    delete:
      tags:
      - "Labels"
      summary: "删除一个仓库任务标签"
      description: "删除一个仓库任务标签"
      operationId: "deleteV5ReposOwnerRepoLabelsName"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "name"
        in: "path"
        description: "标签名称"
        required: true
        type: "string"
        x-exportParamName: "Name"
      responses:
        204:
          description: "删除一个仓库任务标签"
  /v5/repos/{owner}/{repo}/labels/{original_name}:
    patch:
      tags:
      - "Labels"
      summary: "更新一个仓库任务标签"
      description: "更新一个仓库任务标签"
      operationId: "patchV5ReposOwnerRepoLabelsOriginalName"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "formData"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "original_name"
        in: "path"
        description: "标签原有名称"
        required: true
        type: "string"
        x-exportParamName: "OriginalName"
      - name: "name"
        in: "formData"
        description: "标签新名称"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "color"
        in: "formData"
        description: "标签新颜色"
        required: false
        type: "string"
        x-exportParamName: "Color"
        x-optionalDataType: "String"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Label"
  /v5/repos/{owner}/{repo}/issues/{number}/labels:
    get:
      tags:
      - "Labels"
      summary: "获取仓库任务的所有标签"
      description: "获取仓库任务的所有标签"
      operationId: "getV5ReposOwnerRepoIssuesNumberLabels"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "number"
        in: "path"
        description: "Issue 编号(区分大小写，无需添加 # 号)"
        required: true
        type: "string"
        x-exportParamName: "Number"
      responses:
        200:
          description: "返回格式"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Label"
    post:
      tags:
      - "Labels"
      summary: "创建Issue标签"
      description: "创建Issue标签\n 需要在请求的body里填上数组，元素为标签的名字。如: [\"performance\", \"bug\"\
        ]"
      operationId: "postV5ReposOwnerRepoIssuesNumberLabels"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "number"
        in: "path"
        description: "Issue 编号(区分大小写，无需添加 # 号)"
        required: true
        type: "string"
        x-exportParamName: "Number"
      - in: "body"
        name: "body"
        description: "必选，标签的内容"
        required: true
        schema:
          $ref: "#/definitions/PullRequestLabelPostParam"
        x-exportParamName: "Body"
      responses:
        201:
          description: "返回格式"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Label"
    put:
      tags:
      - "Labels"
      summary: "替换Issue所有标签"
      description: "替换Issue所有标签\n 需要在请求的body里填上数组，元素为标签的名字。如: [\"performance\", \"\
        bug\"]"
      operationId: "putV5ReposOwnerRepoIssuesNumberLabels"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "number"
        in: "path"
        description: "Issue 编号(区分大小写，无需添加 # 号)"
        required: true
        type: "string"
        x-exportParamName: "Number"
      - in: "body"
        name: "body"
        description: "必选，标签的内容"
        required: true
        schema:
          $ref: "#/definitions/PullRequestLabelPostParam"
        x-exportParamName: "Body"
      responses:
        202:
          description: "返回格式"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Label"
    delete:
      tags:
      - "Labels"
      summary: "删除Issue所有标签"
      description: "删除Issue所有标签"
      operationId: "deleteV5ReposOwnerRepoIssuesNumberLabels"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "number"
        in: "path"
        description: "Issue 编号(区分大小写，无需添加 # 号)"
        required: true
        type: "string"
        x-exportParamName: "Number"
      responses:
        204:
          description: "删除Issue所有标签"
  /v5/repos/{owner}/{repo}/issues/{number}/labels/{name}:
    delete:
      tags:
      - "Labels"
      summary: "删除Issue标签"
      description: "删除Issue标签"
      operationId: "deleteV5ReposOwnerRepoIssuesNumberLabelsName"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "number"
        in: "path"
        description: "Issue 编号(区分大小写，无需添加 # 号)"
        required: true
        type: "string"
        x-exportParamName: "Number"
      - name: "name"
        in: "path"
        description: "标签名称"
        required: true
        type: "string"
        x-exportParamName: "Name"
      responses:
        204:
          description: "删除Issue标签"
  /v5/repos/{owner}/{repo}/milestones:
    get:
      tags:
      - "Milestones"
      summary: "获取仓库所有里程碑"
      description: "获取仓库所有里程碑"
      operationId: "getV5ReposOwnerRepoMilestones"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "state"
        in: "query"
        description: "里程碑状态: open, closed, all。默认: open"
        required: false
        type: "string"
        default: "open"
        enum:
        - "open"
        - "closed"
        - "all"
        x-exportParamName: "State"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "排序方式: due_on"
        required: false
        type: "string"
        default: "due_on"
        enum:
        - "due_on"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "direction"
        in: "query"
        description: "升序(asc)或是降序(desc)。默认: asc"
        required: false
        type: "string"
        x-exportParamName: "Direction"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "当前的页码"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "每页的数量，最大为 100"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "返回格式"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Milestone"
    post:
      tags:
      - "Milestones"
      summary: "创建仓库里程碑"
      description: "创建仓库里程碑"
      operationId: "postV5ReposOwnerRepoMilestones"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "formData"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "title"
        in: "formData"
        description: "里程碑标题"
        required: true
        type: "string"
        x-exportParamName: "Title"
      - name: "state"
        in: "formData"
        description: "里程碑状态: open, closed, all。默认: open"
        required: false
        type: "string"
        default: "open"
        enum:
        - "open"
        - "closed"
        - "all"
        x-exportParamName: "State"
        x-optionalDataType: "String"
      - name: "description"
        in: "formData"
        description: "里程碑具体描述"
        required: false
        type: "string"
        x-exportParamName: "Description"
        x-optionalDataType: "String"
      - name: "due_on"
        in: "formData"
        description: "里程碑的截止日期"
        required: true
        type: "string"
        x-exportParamName: "DueOn"
      responses:
        201:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Milestone"
  /v5/repos/{owner}/{repo}/milestones/{number}:
    get:
      tags:
      - "Milestones"
      summary: "获取仓库单个里程碑"
      description: "获取仓库单个里程碑"
      operationId: "getV5ReposOwnerRepoMilestonesNumber"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "number"
        in: "path"
        description: "里程碑序号(id)"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Number"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Milestone"
    delete:
      tags:
      - "Milestones"
      summary: "删除仓库单个里程碑"
      description: "删除仓库单个里程碑"
      operationId: "deleteV5ReposOwnerRepoMilestonesNumber"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "number"
        in: "path"
        description: "里程碑序号(id)"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Number"
      responses:
        204:
          description: "删除仓库单个里程碑"
    patch:
      tags:
      - "Milestones"
      summary: "更新仓库里程碑"
      description: "更新仓库里程碑"
      operationId: "patchV5ReposOwnerRepoMilestonesNumber"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "formData"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "number"
        in: "path"
        description: "里程碑序号(id)"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Number"
      - name: "title"
        in: "formData"
        description: "里程碑标题"
        required: true
        type: "string"
        x-exportParamName: "Title"
      - name: "state"
        in: "formData"
        description: "里程碑状态: open, closed, all。默认: open"
        required: false
        type: "string"
        default: "open"
        enum:
        - "open"
        - "closed"
        - "all"
        x-exportParamName: "State"
        x-optionalDataType: "String"
      - name: "description"
        in: "formData"
        description: "里程碑具体描述"
        required: false
        type: "string"
        x-exportParamName: "Description"
        x-optionalDataType: "String"
      - name: "due_on"
        in: "formData"
        description: "里程碑的截止日期"
        required: true
        type: "string"
        x-exportParamName: "DueOn"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Milestone"
  /v5/repos/{owner}/{repo}/license:
    get:
      tags:
      - "Miscellaneous"
      summary: "获取一个仓库使用的开源许可协议"
      description: "获取一个仓库使用的开源许可协议"
      operationId: "getV5ReposOwnerRepoLicense"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      responses:
        200:
          description: "获取一个仓库使用的开源许可协议"
        404:
          description: "没有相关数据"
  /v5/repos/{owner}/{repo}/comments:
    get:
      tags:
      - "Repositories"
      summary: "获取仓库的Commit评论"
      description: "获取仓库的Commit评论"
      operationId: "getV5ReposOwnerRepoComments"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "page"
        in: "query"
        description: "当前的页码"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "每页的数量，最大为 100"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Note"
  /v5/repos/{owner}/{repo}/commits/{ref}/comments:
    get:
      tags:
      - "Repositories"
      summary: "获取单个Commit的评论"
      description: "获取单个Commit的评论"
      operationId: "getV5ReposOwnerRepoCommitsRefComments"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "ref"
        in: "path"
        description: "Commit的Reference"
        required: true
        type: "string"
        x-exportParamName: "Ref"
      - name: "page"
        in: "query"
        description: "当前的页码"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "每页的数量，最大为 100"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Note"
        404:
          description: "没有相关数据"
  /v5/repos/{owner}/{repo}/comments/{id}:
    get:
      tags:
      - "Repositories"
      summary: "获取仓库的某条Commit评论"
      description: "获取仓库的某条Commit评论"
      operationId: "getV5ReposOwnerRepoCommentsId"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "id"
        in: "path"
        description: "评论的ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Note"
        404:
          description: "没有相关数据"
    delete:
      tags:
      - "Repositories"
      summary: "删除Commit评论"
      description: "删除Commit评论"
      operationId: "deleteV5ReposOwnerRepoCommentsId"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "id"
        in: "path"
        description: "评论的ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        204:
          description: "删除Commit评论"
    patch:
      tags:
      - "Repositories"
      summary: "更新Commit评论"
      description: "更新Commit评论"
      operationId: "patchV5ReposOwnerRepoCommentsId"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "formData"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "id"
        in: "path"
        description: "评论的ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      - name: "body"
        in: "formData"
        description: "评论的内容"
        required: true
        type: "string"
        x-exportParamName: "Body"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Note"
        404:
          description: "没有相关数据"
  /v5/repos/{owner}/{repo}/commits/{sha}/comments:
    post:
      tags:
      - "Repositories"
      summary: "创建Commit评论"
      description: "创建Commit评论"
      operationId: "postV5ReposOwnerRepoCommitsShaComments"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "formData"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "sha"
        in: "path"
        description: "评论的sha值"
        required: true
        type: "string"
        x-exportParamName: "Sha"
      - name: "body"
        in: "formData"
        description: "评论的内容"
        required: true
        type: "string"
        x-exportParamName: "Body"
      - name: "path"
        in: "formData"
        description: "文件的相对路径"
        required: false
        type: "string"
        x-exportParamName: "Path"
        x-optionalDataType: "String"
      - name: "position"
        in: "formData"
        description: "Diff的相对行数"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Position"
        x-optionalDataType: "Int32"
      responses:
        201:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Note"
        404:
          description: "没有相关数据"
  /v5/repos/{owner}/{repo}/issues/comments:
    get:
      tags:
      - "Issues"
      summary: "获取仓库所有Issue的评论"
      description: "获取仓库所有Issue的评论"
      operationId: "getV5ReposOwnerRepoIssuesComments"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "sort"
        in: "query"
        description: "Either created or updated. Default: created"
        required: false
        type: "string"
        default: "created"
        enum:
        - "created"
        - "updated"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "direction"
        in: "query"
        description: "Either asc or desc. Ignored without the sort parameter."
        required: false
        type: "string"
        default: "asc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Direction"
        x-optionalDataType: "String"
      - name: "since"
        in: "query"
        description: "Only comments updated at or after this time are returned.\n\
          \                                              This is a timestamp in ISO\
          \ 8601 format: YYYY-MM-DDTHH:MM:SSZ"
        required: false
        type: "string"
        x-exportParamName: "Since"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "当前的页码"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "每页的数量，最大为 100"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Note"
  /v5/repos/{owner}/{repo}/issues/{number}/comments:
    get:
      tags:
      - "Issues"
      summary: "获取仓库某个Issue所有的评论"
      description: "获取仓库某个Issue所有的评论"
      operationId: "getV5ReposOwnerRepoIssuesNumberComments"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "number"
        in: "path"
        description: "Issue 编号(区分大小写，无需添加 # 号)"
        required: true
        type: "string"
        x-exportParamName: "Number"
      - name: "since"
        in: "query"
        description: "Only comments updated at or after this time are returned.\n\
          \                                              This is a timestamp in ISO\
          \ 8601 format: YYYY-MM-DDTHH:MM:SSZ"
        required: false
        type: "string"
        x-exportParamName: "Since"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "当前的页码"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "每页的数量，最大为 100"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "返回格式"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Note"
        404:
          description: "没有相关数据"
    post:
      tags:
      - "Issues"
      summary: "创建某个Issue评论"
      description: "创建某个Issue评论"
      operationId: "postV5ReposOwnerRepoIssuesNumberComments"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "number"
        in: "path"
        description: "Issue 编号(区分大小写，无需添加 # 号)"
        required: true
        type: "string"
        x-exportParamName: "Number"
      - in: "body"
        name: "body"
        description: "Issue comment内容"
        required: true
        schema:
          $ref: "#/definitions/IssueCommentPostParam"
        x-exportParamName: "Body"
      responses:
        201:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Note"
  /v5/repos/{owner}/{repo}/issues/comments/{id}:
    get:
      tags:
      - "Issues"
      summary: "获取仓库Issue某条评论"
      description: "获取仓库Issue某条评论"
      operationId: "getV5ReposOwnerRepoIssuesCommentsId"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "id"
        in: "path"
        description: "评论的ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Note"
        404:
          description: "没有相关数据"
    delete:
      tags:
      - "Issues"
      summary: "删除Issue某条评论"
      description: "删除Issue某条评论"
      operationId: "deleteV5ReposOwnerRepoIssuesCommentsId"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "id"
        in: "path"
        description: "评论的ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        204:
          description: "删除Issue某条评论"
    patch:
      tags:
      - "Issues"
      summary: "更新Issue某条评论"
      description: "更新Issue某条评论"
      operationId: "patchV5ReposOwnerRepoIssuesCommentsId"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "id"
        in: "path"
        description: "评论的ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      - name: "body"
        in: "body"
        description: "必填。评论内容"
        required: true
        schema:
          $ref: "#/definitions/IssueCommentPatchParam"
        x-exportParamName: "Body"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Note"
  /v5/repos/{owner}/{repo}/pages:
    get:
      tags:
      - "Repositories"
      summary: "获取Pages信息"
      description: "获取Pages信息"
      operationId: "getV5ReposOwnerRepoPages"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      responses:
        200:
          description: "获取Pages信息"
  /v5/repos/{owner}/{repo}/pages/builds:
    post:
      tags:
      - "Repositories"
      summary: "请求建立Pages"
      description: "请求建立Pages"
      operationId: "postV5ReposOwnerRepoPagesBuilds"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "formData"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      responses:
        201:
          description: "请求建立Pages"
  /v5/repos/{owner}/{repo}:
    get:
      tags:
      - "Repositories"
      summary: "获取用户的某个仓库"
      description: "获取用户的某个仓库"
      operationId: "getV5ReposOwnerRepo"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Project"
    delete:
      tags:
      - "Repositories"
      summary: "删除一个仓库"
      description: "删除一个仓库"
      operationId: "deleteV5ReposOwnerRepo"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      responses:
        204:
          description: "删除一个仓库"
    patch:
      tags:
      - "Repositories"
      summary: "更新仓库设置"
      description: "更新仓库设置"
      operationId: "patchV5ReposOwnerRepo"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - in: "body"
        name: "body"
        description: "repo patch param"
        required: true
        schema:
          $ref: "#/definitions/RepoPatchParam"
        x-exportParamName: "Body"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Project"
  /v5/repos/{owner}/{repo}/reviewer:
    put:
      tags:
      - "Repositories"
      summary: "修改代码审查设置"
      description: "修改代码审查设置"
      operationId: "putV5ReposOwnerRepoReviewer"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "body"
        in: "body"
        description: "修改代码审查的信息"
        required: true
        schema:
          $ref: "#/definitions/SetRepoReviewer"
        x-exportParamName: "Body"
      responses:
        200:
          description: "设置审查成功"
  /v5/repos/{owner}/{repo}/contributors:
    get:
      tags:
      - "Repositories"
      summary: "获取仓库贡献者"
      description: "获取仓库贡献者"
      operationId: "getV5ReposOwnerRepoContributors"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Contributor"
  /v5/repos/{owner}/{repo}/tags:
    get:
      tags:
      - "Repositories"
      summary: "列出仓库所有的tags"
      description: "列出仓库所有的tags"
      operationId: "getV5ReposOwnerRepoTags"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Tag"
  /v5/repos/{owner}/{repo}/clear:
    put:
      tags:
      - "Repositories"
      summary: "清空一个仓库"
      description: "清空一个仓库"
      operationId: "putV5ReposOwnerRepoClear"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "formData"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      responses:
        204:
          description: "清空仓库成功"
  /v5/repos/{owner}/{repo}/collaborators:
    get:
      tags:
      - "Repositories"
      summary: "获取仓库的所有成员"
      description: "获取仓库的所有成员"
      operationId: "getV5ReposOwnerRepoCollaborators"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "page"
        in: "query"
        description: "当前的页码"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "每页的数量，最大为 100"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "返回格式"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ProjectMember"
  /v5/repos/{owner}/{repo}/collaborators/{username}:
    get:
      tags:
      - "Repositories"
      summary: "判断用户是否为仓库成员"
      description: "判断用户是否为仓库成员"
      operationId: "getV5ReposOwnerRepoCollaboratorsUsername"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "username"
        in: "path"
        description: "用户名(username/login)"
        required: true
        type: "string"
        x-exportParamName: "Username"
      responses:
        204:
          description: "用户为仓库成员"
    put:
      tags:
      - "Repositories"
      summary: "添加仓库成员"
      description: "添加仓库成员"
      operationId: "putV5ReposOwnerRepoCollaboratorsUsername"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "username"
        in: "path"
        description: "用户名(username/login)"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - in: "body"
        name: "body"
        description: "仓库成员内容"
        required: true
        schema:
          $ref: "#/definitions/ProjectMemberPutParam"
        x-exportParamName: "Body"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/ProjectMember"
    delete:
      tags:
      - "Repositories"
      summary: "移除仓库成员"
      description: "移除仓库成员"
      operationId: "deleteV5ReposOwnerRepoCollaboratorsUsername"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "username"
        in: "path"
        description: "用户名(username/login)"
        required: true
        type: "string"
        x-exportParamName: "Username"
      responses:
        204:
          description: "移除仓库成员"
  /v5/repos/{owner}/{repo}/collaborators/{username}/permission:
    get:
      tags:
      - "Repositories"
      summary: "查看仓库成员的权限"
      description: "查看仓库成员的权限"
      operationId: "getV5ReposOwnerRepoCollaboratorsUsernamePermission"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "username"
        in: "path"
        description: "用户名(username/login)"
        required: true
        type: "string"
        x-exportParamName: "Username"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/ProjectMemberPermission"
  /v5/repos/{owner}/{repo}/forks:
    get:
      tags:
      - "Repositories"
      summary: "查看仓库的Forks"
      description: "查看仓库的Forks"
      operationId: "getV5ReposOwnerRepoForks"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "sort"
        in: "query"
        description: "排序方式: fork的时间(newest, oldest)，star的人数(stargazers)"
        required: false
        type: "string"
        default: "newest"
        enum:
        - "newest"
        - "oldest"
        - "stargazers"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "当前的页码"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "每页的数量，最大为 100"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Project"
        403:
          description: "没有权限"
        404:
          description: "没有相关数据"
    post:
      tags:
      - "Repositories"
      summary: "Fork一个仓库"
      description: "Fork一个仓库"
      operationId: "postV5ReposOwnerRepoForks"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "formData"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "organization"
        in: "formData"
        description: "组织空间地址，不填写默认Fork到用户个人空间地址"
        required: false
        type: "string"
        x-exportParamName: "Organization"
        x-optionalDataType: "String"
      responses:
        201:
          description: "返回格式"
          schema:
            $ref: "#/definitions/Project"
  /v5/repos/{owner}/{repo}/pulls:
    get:
      tags:
      - "Pull Requests"
      summary: "获取Pull Request列表"
      description: "获取Pull Request列表"
      operationId: "getV5ReposOwnerRepoPulls"
      consumes:
      - "application/json"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        description: "用户授权码"
        required: false
        type: "string"
        x-exportParamName: "AccessToken"
        x-optionalDataType: "String"
      - name: "owner"
        in: "path"
        description: "仓库所属空间地址(企业、组织或个人的地址path)"
        required: true
        type: "string"
        x-exportParamName: "Owner"
      - name: "repo"
        in: "path"
        description: "仓库路径(path)"
        required: true
        type: "string"
        x-exportParamName: "Repo"
      - name: "state"
        in: "query"
        description: "可选。Pull Request 状态"
        required: false
        type: "string"
        default: "open"
        enum:
        - "open"
        - "closed"
        - "merged"
        - "all"
        x-exportParamName: "State"
        x-optionalDataType: "String"
      - name: "head"
        in: "query"
        description: "可选。Pull Request 提交的源分支。格式：branch 或者：username:branch"
        required: false
        type: "string"
        x-exportParamName: "Head"
        x-optionalDataType: "String"
      - name: "base"
        in: "query"
[...]
